*



{
    background-color: rgb(0, 153, 255);
    box-sizing: border-box;
    padding: 15px;
    
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;


}



<address>
Written by <a href="mailto:webmaster@example.com">Jon Doe</a><br> 
Visit us at:<br>
Example.com<br>
Box 564, Disneyland<br>
USA
</address>


h1 {
    font-size: 35px:large;
    font-family: 'Roboto', sans-serif;

}

.redBackground {
    background-color: red;
}

.blueBackground {
    background-color: royalblue;
}